[Unit]
Description=The Cat
 
[Service]
TimeoutStartSec=0
Restart=always
User=coderaiser

WorkingDirectory=/home/coderaiser/thecat
 
Environment=NODE_VERSION=node

ExecStart=/home/coderaiser/.nvm/nvm-exec /home/coderaiser/thecat/bin/thecat.js
 
[Install]
WantedBy=multi-user.target

