[Unit]
Description=The Cat
 
[Service]
TimeoutStartSec=0
Restart=always
User=coderaiser

WorkingDirectory=/home/coderaiser/thecat
 
ExecStart=/home/coderaiser/.bin/node.js /home/coderaiser/thecat/bin/thecat.js
 
[Install]
WantedBy=multi-user.target

